# R
.Rhistory
m*.rda

# RStudio
.Rproj.user
README.html
scriptGuide.html
test.Rmd
test.html

# dataset
/calibrationFiles
/P-data
/S-data
/singleStrokes

# MATLAB
data.mat

# bib
*.bib.bak
*.bib.sav

# Listening test
*.wav
